It happens all the time: someone gives you data containing malformed strings, Python,
lists and missing data. How do you tidy it up so you can get on with the analysis?
Take this monstrosity as the DataFrame to use in the following puzzles:
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN', 'londON_StockhOlm',
'Budapest_PaRis', 'Brussels_londOn'],
'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )',
'12. Air France', '"Swiss Air"']})

1. Some values in the the FlightNumber column are missing. These numbers are meant
to increase by 10 with each row so 10055 and 10075 need to be put in place. Fill in
these missing numbers and make the column an integer column (instead of a float
column).
2. The From_To column would be better as two separate columns! Split each string on
the underscore delimiter _ to give a new temporary DataFrame with the correct values.
Assign the correct column names to this temporary DataFrame.

3. Notice how the capitalisation of the city names is all mixed up in this temporary
DataFrame. Standardise the strings so that only the first letter is uppercase (e.g.
"londON" should become "London".)
4. Delete the From_To column from df and attach the temporary DataFrame from the
previous questions.
5. In the RecentDelays column, the values have been entered into the DataFrame as a
list. We would like each first value in its own column, each second value in its own
column, and so on. If there isn't an Nth value, the value should be NaN.
Expand the Series of lists into a DataFrame named delays, rename the columns delay_1,
delay_2, etc. and replace the unwanted RecentDelays column in df with delays.

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN', 'londON_StockhOlm',
'Budapest_PaRis', 'Brussels_londOn'],
'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )',
'12. Air France', '"Swiss Air"']})

In [3]:
#Question1: - Some values in the the FlightNumber column are missing. These numbers are meant
#to increase by 10 with each row so 10055 and 10075 need to be put in place. Fill in
#these missing numbers and make the column an integer column (instead of a float
#column).

#Answer:
df['FlightNumber'] = df['FlightNumber'].interpolate().astype(int)
print(df)

               Airline  FlightNumber           From_To  RecentDelays
0               KLM(!)         10045      LoNDon_paris      [23, 47]
1    <Air France> (12)         10055      MAdrid_miLAN            []
2  (British Airways. )         10065  londON_StockhOlm  [24, 43, 87]
3       12. Air France         10075    Budapest_PaRis          [13]
4          "Swiss Air"         10085   Brussels_londOn      [67, 32]

In [5]:
#Question2:- The From_To column would be better as two separate columns! Split each string on
#the underscore delimiter _ to give a new temporary DataFrame with the correct values.
#Assign the correct column names to this temporary DataFrame.

From = np.array(df['From_To'].str.split('_').str[0])
To = np.array(df['From_To'].str.split('_').str[1])
temp_Data = pd.DataFrame({'From': From, 'To':To})
print(temp_Data)

       From         To
0    LoNDon      paris
1    MAdrid      miLAN
2    londON  StockhOlm
3  Budapest      PaRis
4  Brussels     londOn

In [6]:
#Question3. Notice how the capitalisation of the city names is all mixed up in this temporary
#DataFrame. Standardise the strings so that only the first letter is uppercase (e.g.
#"londON" should become "London".)
#Answer: - 
for i in range(len(temp_Data['From'])):
    temp_Data['From'][i]=temp_Data['From'][i].capitalize()
    temp_Data['To'][i]= temp_Data['To'][i].capitalize()
print(temp_Data)

       From         To
0    London      Paris
1    Madrid      Milan
2    London  Stockholm
3  Budapest      Paris
4  Brussels     London

In [7]:
#Question4. Delete the From_To column from df and attach the temporary DataFrame from the
#previous questions.

#Answer
df.drop(['From_To'],axis=1,inplace=True)
df = df.assign(From = temp_Data['From'], To = temp_Data['To'])
print(df)

               Airline  FlightNumber  RecentDelays      From         To
0               KLM(!)         10045      [23, 47]    London      Paris
1    <Air France> (12)         10055            []    Madrid      Milan
2  (British Airways. )         10065  [24, 43, 87]    London  Stockholm
3       12. Air France         10075          [13]  Budapest      Paris
4          "Swiss Air"         10085      [67, 32]  Brussels     London

In [8]:
#Question5. In the RecentDelays column, the values have been entered into the DataFrame as a
#list. We would like each first value in its own column, each second value in its own
#column, and so on. If there isn't an Nth value, the value should be NaN.
#Expand the Series of lists into a DataFrame named delays, rename the columns delay_1,
#delay_2, etc. and replace the unwanted RecentDelays column in df with delays.

#Answer
delay = []
delay_1 = []
delay_2 = []
for i in range(len(df['RecentDelays'])): # it will till 0-4
    if len(df['RecentDelays'][i])==0:
        delay.append(np.nan)
        delay_1.append(np.nan)
        delay_2.append(np.nan)
    elif len(df['RecentDelays'][i])==1:
        delay.append(df['RecentDelays'][i][0])
        delay_1.append(np.nan)
        delay_2.append(np.nan)
    elif len(df['RecentDelays'][i])==2:
        delay.append(df['RecentDelays'][i][0])
        delay_1.append(df['RecentDelays'][i][1])
        delay_2.append(np.nan)
    elif len(df['RecentDelays'][i])==3:
        delay.append(df['RecentDelays'][i][0])
        delay_1.append(df['RecentDelays'][i][1])
        delay_2.append(df['RecentDelays'][i][2])
    else:
        print('Delay more than 3')

delay = np.array(delay)
delay_1 = np.array(delay_1)
delay_2 = np.array(delay_2)
delay_dataframe = pd.DataFrame({'Delay': delay, 'Delay_1':delay_1, 'Delay_2':delay_2})
df = df.assign(Delay = delay_dataframe['Delay'], Delay_1 = delay_dataframe['Delay_1'], Delay_2 = delay_dataframe['Delay_2'])
df = df.drop(['RecentDelays'], axis =1)
print(df)

               Airline  FlightNumber      From         To  Delay  Delay_1  \
0               KLM(!)         10045    London      Paris   23.0     47.0
1    <Air France> (12)         10055    Madrid      Milan    NaN      NaN
2  (British Airways. )         10065    London  Stockholm   24.0     43.0
3       12. Air France         10075  Budapest      Paris   13.0      NaN
4          "Swiss Air"         10085  Brussels     London   67.0     32.0

   Delay_2
0      NaN
1      NaN
2     87.0
3      NaN
4      NaN